@font-face {
    font-family: 'graduate';
    src: url(Graduate-Regular.ttf);
}






.navContainer hr{
    margin: 0px;
}
.b{
    border: 2px solid red;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    background: rgb(206, 99, 99);
}
.nav{
    position:fixed;
    background-color: #f3eed9;
    z-index: +1;
    
    display: flex;
    flex-direction: row;
}
.navContainer{
    gap: 20px;
    width: 100%;
    padding: 5px;
}
.row{
    margin: 0%!important; 
}
.logoName{
    display: flex;
    justify-content: space-between;
}
.logoName div{
    display: flex;
    align-items: center;
}
.logoName img{
    height: 30px;
    margin-right: 10px;
}
.logoName h1{
    font-family: 'graduate';
    font-weight: 900;
    margin: 0px;
}
.navOptions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navOptions ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navOptions li{
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}
.navOptions li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 500ms;
}
.navOptions a{
    color: black;
    text-decoration: none;
}
.navOptions a:hover{
    color: white;
    transition: 500ms;
}
.cart img{
    height: 30px;
}
.hero{
    background: url(heroSectBackground.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}
.hero h1{
    color: white;
    width: fit-content;
    text-shadow: 2px 2px rgb(173, 173, 173), 4px 4px rgb(78, 78, 78), 6px 6px black;
    position: relative;
    top: 30%;
    left: 3%;
    font-family: 'graduate';
}
.hero a, u{
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10%;
    width: 10%;
}
.hero h3{
    font-family: 'graduate';
    position: relative;
    top: 30%;
    left: 3%;
    background-color: #9d001e;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}
.services{
    height: 100vh;
    background-color: #db7272;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionCard{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 80%;
    background-color: #798897;
    border-radius: 15px;
}



@media only screen and (-webkit-scrollbar-track: 600px) {
}